.table-hover-custom:hover {
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #0a0a0a;
}

.move-right {
  margin-left: auto;
}

.cart-conteiner {
  margin-top: 20px;
}
