.slider-block {
  margin-top: 20px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #0a0a0a;
  border-radius: 30px;
}

.dark-block {
  margin-top: 20px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #0a0a0a;
  border-radius: 30px;
}

.get-started-block {
  padding-top: 10px;
  height: 200px;
  margin-top: 20px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #0a0a0a;
  border-radius: 30px;
}
