.header
  %h1.header_logo Welcome to amazing Pizzeria
  = link_to 'Home', home_path
  = link_to 'Menu', pizzas_path
  = link_to 'Log in', new_user_session_path
  = link_to 'Sign up', new_user_registration_path
.offset
